{% extends 'base.html' %}

{% block body %}
    <h1>O nas</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec est massa. Phasellus condimentum sollicitudin
        ipsum vitae posuere. In nec feugiat turpis. Ut sollicitudin, purus eget viverra malesuada, sem augue maximus
        nibh, in pulvinar leo ligula a elit. Duis varius libero id purus vehicula accumsan. Maecenas quis nunc a arcu
        facilisis dictum. Donec gravida efficitur mauris, euismod vehicula ante tempus eu. Sed in ultrices purus. Nam
        eget efficitur arcu. Nam pellentesque id nunc eget tincidunt.</p>

    <p>Aenean accumsan pharetra purus a efficitur. Donec sit amet nisl sed velit aliquet pulvinar ac non nulla. Nulla
        aliquet dui et dolor auctor, sit amet dapibus lacus dignissim. Fusce facilisis urna nec pharetra egestas.
        Pellentesque suscipit varius libero, tempus iaculis tellus ultrices aliquam. Suspendisse eu mi vitae urna
        molestie consectetur. Donec blandit auctor magna, in malesuada nisl placerat a.</p>

    <p>Suspendisse auctor eu orci eget rutrum. Donec convallis lectus sit amet massa vestibulum interdum. Fusce non arcu
        nec enim sollicitudin consectetur. Duis ex ex, placerat ut urna non, vestibulum tincidunt urna. Vestibulum
        finibus nisl id vulputate molestie. Nunc nec lacus lacinia, tristique erat vitae, euismod est. Donec ullamcorper
        arcu vitae ligula mattis lobortis. Nunc quis scelerisque magna. Aliquam vestibulum tincidunt rutrum.</p>

    <p>Nam at orci aliquam, pulvinar ex tempor, rhoncus justo. Etiam ut viverra tortor. Proin condimentum, turpis non
        vehicula efficitur, mi nibh vulputate tortor, ut semper lorem felis ut est. Praesent ultrices tortor id leo
        vehicula, id aliquam ligula accumsan. Maecenas accumsan nisi nunc, quis semper sem vehicula tempus. Etiam risus
        enim, vestibulum ut ante nec, euismod suscipit massa. Integer at ipsum et leo eleifend consequat id et lacus.
        Sed ut erat dictum, consectetur arcu ac, facilisis nibh. Aliquam at feugiat justo. Proin bibendum ut urna quis
        dictum. Duis ultricies sit amet sapien non rhoncus. Nam scelerisque, elit ut feugiat vehicula, neque ex commodo
        erat, eget dapibus libero risus sit amet nulla. Nunc sollicitudin blandit justo eget egestas. Orci varius
        natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc volutpat sapien at diam
        ultricies mattis eu ac lectus.</p>

    <p>Morbi aliquam erat sit amet arcu porttitor dictum. Nullam at urna tincidunt enim facilisis laoreet nec et metus.
        Suspendisse sed feugiat arcu. In a massa tellus. Sed imperdiet consectetur metus, quis pharetra odio blandit in.
        Suspendisse quis erat lacus. Pellentesque mollis volutpat tempus. Nullam ullamcorper ante sed turpis molestie
        malesuada. Vestibulum at tellus at purus porttitor posuere. Nam ultricies mollis augue, quis suscipit augue
        eleifend et. Vestibulum lobortis sem quis velit blandit, ac placerat enim feugiat. Phasellus sed ultricies
        tortor.</p>
{% endblock %}